/*--------------------Navigation----------------------*/
.navbar-brand{
	margin-top: 3.5px;
	font-weight: 400;
}
.navbar-nav{
	margin: 3.5px 18px!important;
}
.navbar{
    height: 55px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse .navbar-nav>.active>a {
	margin-top: -4px;
}

.navbar-nav>li>a {
	padding-bottom: 19px;
	font-weight: 400;
}

/*------------------Page content--------------------------*/
.wrapper{
	width: 100%;
}
.content{
	width: 70%;
	margin: 0 auto;
}
footer {
	width: 100%;
	background-color: #222;
	color: #9d9d9d; 
	height: 50px;
	text-align: center;
	padding-top: 20px;
	margin-top: 60%;
}

/*-----------------------CARDS--------------------*/
.hvr-pulse .waves-effect{
	text-align: center;
	width: 33%;
	background-color: #FFD1B6;
	color: #FEA8A4;
	margin-left: 60%;
}

.card-title {
	font-size: 30px !important;
}
.card-text {
	font-size: 18px !important;
}
.hm-white-slight .mask{
	background-color: rgba(255, 255, 255, 0.29);
}

.hvr-pulse {
	display: flex !important;
}

/*------------PROFILE PAGE---------------------*/
.img-side{
	width: 30%;
	float: left;
	display: inline;
	margin-right: 100px;
}

.company-logo{
	border-radius: 50%;
	width: 250px;
	height: 250px;
	margin-left: 100px;
	display: flex;
}
.upload-img{
	width: 150px;
	margin: 50px 150px;
}

.details-side{
	width: 45%;
	float: left;
	display: inline;
	margin: auto;
}

.company-details{
	color: #CCC;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 50px;
    display: inline-block;
    margin-left: 40%;
}
.company-detail{
	color: gold;
	font-size: 22px;
}
.edit-profile{
	width: 150px;
	float: right;
	font-size: 15px !important;
}
#file {
	margin-left: 100px;
}

.details-side .edit-input {
	display: none;
}

.details-side.edit-input .edit-input{
	display: initial;
}

.details-side.edit-input .noedit{
	display: none;
}

/*-----------------------BOOKING PAGE---------------------------*/
.table th {
	font-size: 20px;
}

.table td {
	font-size: 15px;
}

/*-----------------------OFFICES PAGE---------------------------*/

.add {
	background: #d28ea2;
	color: #fff;
	font-weight: 500;
	width: 150px;
	float: right;
	margin-bottom: 30px;
}

.more {
	width: 100px;
	font-weight: 400;
	background-color: blue;
	color: #fff;
	font-size: 12px;
	height: 40px;
	cursor: pointer;
	margin-top: auto;
}

.edit {
	padding-right: 30px;
	font-size: 25px;
	color: #9c9c9c;
	cursor: pointer;
}

.edit:hover {
	color: #6d6d6d;
}

.add-btn {
	padding: 14px 20px;
    background-color: #4caf50;
    width: 50%;
    float: right;
}

tbody .services-data .edit-input {
	display: none;
}

tbody .services-data.edit-input .edit-input{
	display: initial;
}

tbody .services-data.edit-input .noedit{
	display: none;
}

tbody .offices-data .edit-input {
	display: none;
}

tbody .offices-data.edit-input .edit-input{
	display: initial;
}

tbody .offices-data.edit-input .noedit{
	display: none;
}
/* table count */
table{counter-reset:section;}
.count:before
{
counter-increment:section;
content:counter(section);
}

/*-------------------------------Companies page----------------------------*/
.accordion{
	width: 36%;
    float: left;
    height: 290px;
}
#map{
   float:right;
   width: 600px;
   height: 290px;

    }  
.container-off{
    width: 85%;
    margin: auto;
    min-height: 350px;
    border: 1px solid gray;
}
.col-md-4 {
	padding-bottom: 35px;

}

.col-md-3 {
	padding-bottom: 35px;
}

[hidden] {
	display: none;
}

.hidden{
	display: none;
}

.list-group {
	width: 30%;
	margin-bottom: 0px;
}
.office-details {
	width: 50%;
	float: right;
	margin-top: -70px;
}
#selectOff {
	width: 100px;
	background: #e38690;
	margin-right: 10px;
}

#selectCompany, #backSelectOff, #backToService, #backToCalendar, #backToForm{
	width: 100px;
	background: #e38690;
	float: left;
	margin-left: 100px;
}
#registerForm, #confirmationSection, #confirm {
	width: 100px;
	background: #e38690;
	float: right;
	margin-right: 100px;
}
#selectServ {
	width: 100px;
	background: #e38690;
	float: right;
	margin-right: 30px;
}

/* Booking services-card */
.header-card {
	border-bottom: 1px solid #CCC;
	background-color: #ddd;
}

#booking-price {
	width: 170px;
    height: 170px;
    border-radius: 100%;
    background-color: #d4d4d4;
    text-align: center;
    font-size: 50px;
    margin: 10px auto 0 auto;
    padding-top: 50px;
}

#booking-time {
	width: 30%;
	background-color: #ff847c;
	color:  #2a363b;
	margin-left: 10px;
	cursor: auto;
	
}

.selectDate {
	width: 30%;
	background-color: #ff847c;
	color: #2a363b;
	float: right;
	margin-right: 10px;
	
}

#data-pick {
	width: 300px;
	margin-left: 500px;
}

/*----------------------------Booking calendar page-----------------*/
.table-condensed {
	height: 330px;
}

.applyBtn {
	font-size: 1em !important;
}
.cancelBtn {
	font-size: 1em !important;
}
.daterangepicker th.month {
	font-size: 20px;
}
.daterangepicker .calendar th, .daterangepicker .calendar td {
	font-size: 18px;
}

/*----------------------------Booking register page--------------------*/
.form {
	width: 60%;
	margin: auto;
}
.button{
	width: 150px;
	background-color: #fab6ac;
	color: #fff;
}
.btn-right {
	float: right;
}
.buttons-next {
	width: 70%;
	margin: auto;
	margin-top: 20px;
}
.details-list-form{
	min-height: 160px;
    border-bottom: 1px solid #CCC;
    width: 80%;
    margin: auto;
}
.company-side{
	float: left;
	width: 45%;
	text-align: center;
}
.service-side{
	float: right;
	width: 45%;
	text-align: center;
}
.comp-left-side, .serv-left-side {
	width: 30%;
    margin-right: 5px;
    display: inline-block;
	color: #b3b3ff;
	text-align: right;
	font-size: 18px;
}
.comp-right-side, .serv-right-side {
	width: 60%;
    vertical-align: top;
    display: inline-block;
	padding-bottom: 5px;
	text-align: left;
	padding-left: 20px;
	font-size: 18px;
}

.company-booking {
	float: left;
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
	margin: 0 8%;
}
.serv-book-left {
	width: 20%;
    margin-right: 0px;
    display: inline-block;
    margin-left: 50px;
    color: #b3b3ff;
    text-align: left;
    font-size: 18px;
}
.serv-book-right {
	width: 60%;
    display: inline-block;
    padding-bottom: 5px;
	font-size: 18px;
	vertical-align: top;
}
.booking-service {
	min-height: 115px;
    border-bottom: 1px solid #ccc;
}
.booking-calendar {
	border-bottom: 1px solid #ccc;
    min-height: 140px;
}